<%- include('start_html') %>
<main class="container">
    <% posts.forEach(post => { %>
        <article class="row mb-5">
            <div class="post-holder text-left">
                <div class="post-image shadow">
                    <a href="/view-post/<%= post.id %>"><img src="<%= post.featured_img %>"></a>
                </div>
                <div class="post-text">
                    <div class="post-div p-4 m-4 shadow">
                        <h4 class="mb-2"><%= post.title %></h4>
                        <span class="post-content mb-2"><%= post.subtitle %></span>
                        <a href="/view-post/<%= post.id %>" class="mb-2">Let's see the post then!</a>
                        <br>
                        <small><%= post.published_date %></small>
                    </div>
                </div>
            </div>
        </article>
    <% }); %>
</main>
<%- include('footer') %>
<%- include('end_html') %>