<%- include('start_html') %>
<main class="container text-center">
  <div id="heroImage" style="width: inherit; height: 200px;">

  </div>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  
  <ul>
  <% for(let i = 0; i < 3; i++){ %>
    <li>
      <a href="/view-post/<%= posts[i].id %>"><%= posts[i].title %></a>
    </li>
  <% }; %>
  </ul>

  <p>Create a new post <span><a href="/create-post">Here!</a></span></p>

  <p>Want to see more? View the arcives here: <span><a href="/archives">To the Archives!</a></span></p>
  
</main>

<!-- My scripts: -->
<script src="/javascripts/home.js"></script>
<%- include('end_html') %>