<%- include('start_html') %>
<main class="container text-center">
  <!-- Hero img -->
  <div id="heroImage" style="width: inherit; height: 200px;"></div>

  <h1><%= title %></h1>
  <p>Welcome to my blog, <%= title %></p>
  
  <section class="carousel-container mx-auto mb-5">
    <div class="post-carousel">
      <% for(let i = 0; i < 3 && posts[i]; i++){ %>
        <div class="mx-auto">
          <div class="post-holder text-left">
            <div class="post-image shadow">
              <a href="/view-post/<%= posts[i].id %>"><img src="<%= posts[i].featured_img %>"></a>
            </div>
            <div class="post-text">
              <div class="post-div p-4 m-4 shadow">
                <h4 class="mb-2"><%= posts[i].title %></h4>
                <span class="post-content mb-2"><%= posts[i].subtitle %></span>
                <a href="/view-post/<%= posts[i].id %>" class="mb-2">Let's see the post then!</a>
                <br>
                <small><%= posts[i].published_date %></small>
              </div>
            </div>
          </div>
        </div>
      <% }; %>
    </div>
  </section>

  <h2 class="m-5">Create a new post <span><a href="/create-post">Here!</a></span></h2>
  
</main>

<!-- Footer -->
<%- include('footer') %>

<!-- Slick: -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- My scripts: -->
<script src="/javascripts/home.js"></script>
<script src="/javascripts/post-carousel.js"></script>
<%- include('end_html') %>