<%- include('start_html') %>
<main class="container">
    <h2 class="display-3 mb-3"><%= title %></h1>
    <div class="">
        <img style="width: 500px; height: 400px;" src="<%= featured_img %>" alt="">
        <p class="font-weight-light mb-5"><%= author %> <span class="ml-auto"><%= published_date %></span></p>
        <div class="text-center"><%- content %></div>
    </div>
</main>
<section class="container mb-4">
    <a class="btn btn-warning" href="/update-post/<%= postId %>">Update</a>
</section>

<!-- Footer -->
<%- include('footer') %>

<%- include('end_html') %>