<%- include('start_html') %>
<main class="container text-center">
    <h2 class="display-3"><%= title %></h1>
    <p class="font-weight-light"><%= author %> <span class="ml-auto"><%= published_date %></span></p>
    <div class="post-content">
        <%- content %>
    </div>
</main>
<section class="container mb-4">
    <a class="btn btn-warning" href="/update-post/<%= postId %>">Update</a>
</section>

<!-- Footer -->
<%- include('footer') %>

<%- include('end_html') %>