<%- include('start_html') %>
<main class="container">
    <!-- Check if post exists -->
    <% if(!post.title) { %>
        <div class="message-box">
            <h2>Sorry! This post does not exist</h2>
        </div>
    <% } else { %>
        <h2 class="display-4 mb-3 text-center"><%= post.title %></h2>
        <div class="">
            <img style="width: 500px; height: 400px;" src="<%= post.featured_img %>" alt="Image link broken">
            <p class="font-weight-light mb-3"><%= post.author %> <span class="ml-auto"><%= post.published_date %></span></p>
            <h5><%- post.subtitle %></h5>
            <div><%- post.content %></div>
        </div>
    
        <% if(login != -1 && login != -2) { %>
        <section class="mb-4">
            <a class="btn btn-warning" href="/update-post/<%= post.id %>">Update</a>
        </section>
        <% } %>
    <% } %>
</main>

<!-- Footer -->
<%- include('footer') %>

<%- include('end_html') %>